/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *************************************************************************/
html{
   padding:0;
	margin:0;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
}
body{
	margin:0;
	padding:0;
    background-color:lightblue;
}
header{
	min-height:275px;
	background-image: url(../img/monkaa_title.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
	top:0;
	
}

h1{
	font-family:Matterhorn, Helvetica, sans-serif;
	padding-bottom:0;
	padding-top:400px;
	margin:0;
	position:relative;
}
.subtitle{
	font-family:Matterhorn, Helvetica, sans-serif;
	font-weight:bold;
	padding-top:5;
	margin-top:15px;
	margin-bottom:0;
}
.main-nav{
	font-family:Matterhorn, Helvetica, sans-serif;
	list-style-type:none; 
	border-top:1px solid #000;
	position:absolute;
	width:100%;
	padding:0;
	margin:0;
}
.main-nav li{
	display:inline;
	padding-right:70px;
	font-weight:bold;
	font-size:20px;
}
.main-nav, .main-nav-inner, .main-nav li,.main-nav li a{
	background-color:#33cc33;
	color:whitesmoke;
	text-shadow:1px 0 black;
	text-align:center;
	padding-top:5px;
	width:100%;
	height:30px;
	text-decoration:none;
}
.main-nav li a:hover{
	color:pink;
	border-style:solid;
	border-radius:5px 5px 5px;
}

video{
	height:500px;
	left:50%;
	top:10%;
	width:850px;
    float:right;
	border-bottom: 1px solid black;
	box-shadow:5px 5px 5px #7c7c7c;
}

audio {
	padding-left:20px;
}


#about{
	text-align:center;
}
#listen{
	display:inline;
	
}
#watch{
	padding-right:150px;
}
#social {
	border-radius:5px 5px 5px;
	background-color:pink;
	position:fixed;
	top:50px;
	right:0;
	width:10px;
	transition:2s ;
}
#social:hover{
	width:150px;
}
#social li{
	margin:0;
	padding:0;
	list-style-type:none;
}
h3 {
	text-align:center;
}

#listen a .download-button {
	display:inline-block;
	
}
h2{
	text-align:center;
	padding-top:15px;
}
#watch h2{
	padding-left:250px;
}
.download-button{
	display:inline-block;
	position:relative;
	margin:10px;
	height:45px;
	padding:0 40px;
	padding-top:20px;
	text-align:center;
	background-color:#05FA5F;
	text-decoration:none;
	text-transform:uppercase;
	font:bold 20px/22px Arial, sans-serif;
	color:#3e5706;
	text-shadow:1px 1px 1px rgba(255,255,255,.22);
	border-radius:30px;
	box-shadow:1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255, 255, 255,.44);
	transition:all 0.15s ease;

}
.lead{
	font-weight:bold;
	font-size:20px;
	font-style:italic;
}
p{
	text-align:center;
	
}
.weybec-people{
	border-top:1px solid black;
}
.weybec-people img {
	height:250px;
	width:250px;
	box-shadow:5px 5px 5px #7c7c7c;
	margin:20px;
}
.weybec-people li{
	list-style-type:none;
	margin:20px;
	padding:20px;
	display:inline-block;
	text-align:center;
}




	
